<div>
    {{#if logged_in}}
    <h2 class="greeting">{{username}}... Have you caught up on these recent posts?</h2>
    {{/if}}

    {{#each blogPosts as |post|}}
    <section id="blog-posts">
        <div class="post">
            <div class="post-head">
                <span class="title">{{post.post_title}}</span>
                <span class="post-info">Global post #{{post.id}} by {{post.author}}</span>
            </div>
            <div>
                <p class="post-body">
                    {{post.post_body}}
                </p>
            </div>
        </div>
    </section>
    {{/each}}

    <section id="blog-posts">
        <div class="post">
            <div class="post-head">
                <span class="title">Blog post title</span>
                <span class="post-info">post by forest, 10PM</span>
            </div>
            <div>
                <p class="post-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, distinctio assumenda provident illum exercitationem reprehenderit qui voluptate, iure vero eaque dicta modi velit eius eligendi! Officiis, praesentium. Aliquid, commodi ex?
                </p>
            </div>
        </div>
    </section>
</div>