<div>
    {{#if logged_in}}
    <h2 class="greeting">Welcome {{username}}, Have you caught up on these recent posts?</h2>
    {{/if}}

    {{#each blogPosts as |post|}}
    <section class="blog-posts">
        <div class="post">
            <div class="post-head">
                <span class="title">{{post.post_title}}</span>
                <span class="post-info">Posted: {{post.date_created}}</span>
                <span class="post-info">Global post #{{post.id}} by {{post.author}}</span>
            </div>
            <div>
                <p class="post-body">
                    {{post.post_body}}
                </p>
            </div>
        </div>
        <a class="add-comment" href="http://localhost:3456/post/{{post.author}}/{{post.id}}">add comment</a>
    </section>
    {{/each}}

</div>
