<div>
    {{#if logged_in}}
    <h2 class="greeting">{{username}}... Have you caught up on these recent posts?</h2>
    {{/if}}

    {{#each blogPosts as |post|}}
    <section class="blog-posts">
        <div class="post">
            <div class="post-head">
                <span class="title">{{post.post_title}}</span>
                <span class="post-info">Global post #{{post.id}} by {{post.author}}</span>
            </div>
            <div>
                <p class="post-body">
                    {{post.post_body}}
                </p>
            </div>
        </div>
        <button class="add-comment" data-id="{{post.id}}">add comment</button>
    </section>
    {{/each}}

    

</div>
<script src="./js/handlePostView.js"></script>