<div>
    <h2 class="greeting">Welcome {{username}}, here are your recent posts!</h3>
    
    {{#each userPosts as |post|}}
    <section class="blog-posts">
        <div class="post">
            <div class="post-head">
                <span class="title">{{post.post_title}}</span>
                <span class="post-info">posted on {{post.date_created}}</span>
            </div>
            <div>
                <p class="post-body">
                    {{post.post_body}}
                </p>
            </div>
            <button class="add-comment" data-id="{{post.id}}" data-username="{{username}}">View comments</button>
            <button class="del-post" data-id="{{post.id}}">Delete post</button>

        </div>
    </section>
    {{/each}}
</div>
<script src="./js/handlePostView.js"></script>
<script src="./js/deletePost.js"></script>


